<<<<<<< HEAD
.menu {
    padding:0em;
    li:hover{
        background-color:#e6e6e6;
    }
=======
.menu{
    li:hover{
        background-color:#e6e6e6
    }
}
.completed{
    cursor: pointer;
>>>>>>> 9973d48aef392b54f3ae4dbb78a392966c07f866
}