@import './iconfont.css';
@import './font_folder/iconfont.css';
 
html, body {
    width: 100%;
    height: 100%;
    font-family: "微软雅黑",Tahoma, Helvetica, Arial, '\5b8b\4f53', sans-serif;
    margin: 0 auto !important;
    position: relative;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f1f1f1;
}

.BraftEditor-container{
    .BraftEditor-content {
        ol{
            li{
                list-style:decimal;
                margin-left:0.4rem;
            }
        }
        ul{
            li{
                list-style:disc;
                margin-left:0.4rem;
            }
        }
    }
}


#app {
    width: 100%;
    height: 100%;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.page-container {
    position: relative;
    max-width: 1280px; 
    min-width: 640px; 

    margin: auto;
    height: 100%;
    // overflow: auto;
    // display: block;
    // -webkit-overflow-scrolling: touch;
    // margin: 0 auto;
}

// 白色的那个页面框
.page-wrap {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e6e6e6; /*no*/
    border-radius: 2px;
}

.file-input-hidden {
    display: none;
}

@media only screen and (min-width: 768px) {
    .page-wrap {
        box-sizing: border-box;
        width: 1280px;
        background-color: #fff;
        border: 1px solid #e6e6e6; /*no*/
        border-radius: 2px;
    }
}

