.member-page {
    margin-top: 30px;
    .member-container {
        
    }

    
    .member-list {
        box-sizing: border-box;
        width: 1280px;
        background-color: #fff;
        border: 1px solid #e6e6e6; /*no*/
        border-radius: 2px;
        padding: 20px 30px 40px 30px;
    }



}