.management-page {
    padding: 30px 0;
    .page-wrap {
        padding: 20px 30px 40px 30px;
        h2{
            font-size: 40px;
            margin: 20px 0 0 35px;
        }
        h2:after{
            content: '';
            width: 100%;
            height: 30px;
            border-bottom: 1px solid #E9ECE3    ;
            display: block;
            margin: 0 auto; 
        }
        .team-item{
            margin: 50px;
            height: 130px;
        }
        .team-img{
            width:  200px;
            height: 130px;
            border-radius: 50%;
            float: left;
        }
        .teamName{
            font-size: 40px;
            float: left;
            margin: 50px 0 0 100px;
        }
        .leaveTeam{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 50px;
            border-radius: 8px;
            background-color: #B7B9B3;
            color: #fff;
            font-weight: bold;
            margin: 40px 20px 0 0;
            float: right;
    
            &:hover{
                box-shadow: 1px 2px 6px #a2a2a2;
            }
        }

        
    }
}