.person-edit-page {
    padding: 0 30px;
    margin-top: 40px;

    .title {
        padding: 40px 0;
        font-size: 30px;
        font-weight: bold;
    }

    .create-btn {
        display: inline-block;
        font-size: 16px;
        padding: 10px;
        width: 100px;
        border: 1px solid #e6e6e6; /*no*/
        border-radius: 4px;
        margin-right: 30px;
        cursor: pointer;
        &:hover {
            background-color: #e6e6e646;
        }
    }


    .head-edit {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        .head-img {
            height: 100px;
            width: 100px;
            border-radius: 100px;
            margin-right: 40px;
            border: none;
        }

        .head-img-url {
            border: 1px solid #e6e6e6; /*no*/
            height: 40px;
            width: 600px;
            border-radius: 4px;
            line-height: 40px;
            padding: 0 10px;
            margin-bottom: 10px;
            
        }
        .head-des {
            color: #666;
        }
    }

    .edit-con {
        display: flex;
        align-items: center;

        padding-left: 40px;
        height: 80px;

        .before {
            width: 100px;
            color: #666;
        }
        
        .after{
            display: flex;
            color: #666;
            margin: 10px;
            align-items: center;

        }

        .mail-present-bar{
            display: flex;
            align-items: center;

            .active-info{
                display: flex;
                color: #666;
                margin: 10px;
                align-items: center;

                .activate-btn-active{
                    cursor: pointer;
                    color: rgb(255, 197, 73);
                }
                .activate-btn{
                    cursor: pointer;
                    color: #ddd;
                }
            }

            .edit-btn{
                cursor: pointer;
                color: grey;
                margin-left: 10px;
            }
        }

        
        
        .error{
            color: #f00;
        }

        .default-color{
            color: #000;
        }

        .green{
            color: green;
        }

        .yellow{
            color: rgb(255, 197, 73);
        }

        .follow-btn{
            cursor: pointer;
            color: rgb(255, 197, 73);
        }

        .bind-wx {
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            border-radius: 4px;
            background-color: #999;
            margin-right: 20px;

            &.act {
                background-color: rgb(255, 197, 73);
            }
        }
        .band {
            cursor: pointer;
            color: rgb(255, 197, 73);
        }
        .input-edit {
            border: 1px solid #e6e6e6; /*no*/
            height: 40px;
            width: 400px;
            border-radius: 4px;
            line-height: 40px;
            padding: 0 10px;
        }
    }

    .sava-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 50px;
        border-radius: 8px;
        background-color: rgb(255, 158, 41);
        color: #fff;
        font-weight: bold;
        margin-bottom: 80px;
        margin: 30px 0 80px 40px;
    }


}