<!DOCTYPE html>
<html>
<head>
<title>排队中</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    p,
    blockquote,
    /* structural elements 结构元素 */
    dl,
    dt,
    dd,
    ul,
    ol,
    li,
    /* list elements 列表元素 */
    pre,
    /* text formatting elements 文本格式元素 */
    fieldset,
    lengend,
    button,
    input,
    textarea,
    /* form elements 表单元素 */
    th,
    td {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        /* table elements 表格元素 */
        margin: 0;
        padding: 0;

        word-wrap: break-word;
        word-break: break-all;
    }

    /* 设置默认字体 */
    body,
    button,
    input,
    select,
    textarea {
        /* for ie */
        /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
        font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
    }

    h1 {
        font-size: 18px; /* 18px / 12px = 1.5 */
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    h4,
    h5,
    h6 {
        font-size: 100%;
    }

    address,
    cite,
    dfn,
    em,
    var {
        font-style: normal;
    } /* 将斜体扶正 */
    code,
    kbd,
    pre,
    samp,
    tt {
        font-family: "Courier New", Courier, monospace;
    } /* 统一等宽字体 */
    small {
        font-size: 12px;
    } /* 小于 12px 的中文很难阅读，让 small 正常化 */

    /* 重置列表元素 */
    ul,
    ol {
        list-style: none;
    }

    /* 重置文本格式元素 */
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    abbr[title],
    acronym[title] {
        cursor: help;
        /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */

        border-bottom: 1px dotted;
    }

    q:before,
    q:after {
        content: "";
    }

    /* 重置表单元素 */
    legend {
        color: #000;
    } /* for ie6 */
    fieldset,
    img {
        border: none;
    } /* img 搭车：让链接里的 img 无边框 */
    /* 注：optgroup 无法扶正 */
    button,
    input,
    select,
    textarea {
        font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
    }

    /* 重置表格元素 */
    table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    /* 重置 hr */
    hr {
        height: 1px;

        border: none;
    }

    /* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
    html {
        overflow-y: scroll;

        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    /*去除input[type=number]默认样式*/
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        margin: 0;

        -webkit-appearance: none;
    }

    /*定义全局隐藏样式*/
    .hidden {
        display: none !important;
    }

    /*默认 placeholder 颜色*/
    ::-webkit-input-placeholder {
        color: #b2b2b2;
    }
    :-ms-input-placeholder {
        color: #b2b2b2;
    }
    :-moz-placeholder {
        color: #b2b2b2;
    }
    ::-moz-placeholder {
        color: #b2b2b2;
    }
</style>
<style>
    html {
        overflow: hidden;
        height: 100%;
    }
    body {
        background-color: #e5e5e5;
        max-width: 640px;
        min-width: 320px;
        height: 100%;
        line-height: 1;
        font-family: "微软雅黑";
        font-size: 12px;
        color: #5d5b5b;
        margin: 0px auto;
        display: block;
        position: relative;
    }
</style>
<style>
    #container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -webkit-flex-direction: column;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        /*justify-content: center;
        -webkit-justify-content: center;*/
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        align-items: center;
    }

    .bg {
        margin-top: 198px;
        background-size: 161px 115.5px;
        width: 161px;
        height: 115.5px;

        margin-bottom: 20px;
        overflow: hidden;
    }
    .info {
        font-size: 14px;
        color: #333;
        line-height: 1.5;
        overflow: hidden;
    }
</style>
</head>
<body>
    <div id="container">
        <div class="info">请在微信上打开</div>
    </div>
</body>
</html>
