<html>
    <head>
        <meta charset="UTF-8">
        <title>千聊</title>
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="email=no">
        <meta name="format-detection" content="address=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body class="gra_1">

    <script>
        /**
         * query中必须包含target字段，pre字段可选
         * 包含pre字段时在该目标地址前插入pre历史记录
         */
        
        //console.log(history.length);
        
        var search = window.location.search.slice(1),
            target,
            pre;
        //console.log(window.location.href);
        //console.log(history.state);
        for (var i = 0, searchArr = search.split('&'); i < searchArr.length; i++) {
            var temp = searchArr[i].split('=');
            if (temp[0] == 'target') {
                target = decodeURI(temp[1]);
            } else if (temp[0] == 'pre') {
                pre = decodeURI(temp[1]);
            }
        }
        // console.log(search, target, pre);
        if (target) {
            if (pre) {
                history.replaceState(null, null, pre);
            }
            
            history.pushState(null, null, '/');
            //console.log(history.length);
            window.location.href = target;
        } else {
            //console.log('reload');
            window.location.reload();
        }
    </script>
    </body>
</html>