<html>
    <head>
        <meta charset="UTF-8">
        <title>提示</title>
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="email=no">
        <meta name="format-detection" content="address=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<<<<<<< HEAD
=======
        <link rel="stylesheet" href="//m.qlchat.com/styles/wtwap/css/wtCommon.css?v=2016020301">
        <link rel="stylesheet" href="//m.qlchat.com/styles/wtwap/css/forum.css?v=2016020301">
>>>>>>> cd34279970900fc13cfc41acbe72568f9ea58418
    </head>
<body class="gra_1">
<div class="main_box_4">
	<div class="box_404">
<<<<<<< HEAD

        404
=======
		<img src="//m.qlchat.com/styles/wtwap/img/common/ico-404.png">
        <span class="tips_2 backUrl" attr-isLive="{{isLive}}">你的访问被该直播间拒绝了
        {{#if isLive}}
            <br><var id="timer">3</var>秒后跳回千聊话题中心</span>
            <input type="hidden" id="url" value="/liveCenter/index.htm" attr-weappurl="/pages/index/index">
        {{else}}
            <br><var id="timer">3</var>秒后跳回到首页</span>
            <input type="hidden" id="url" value="/live/{{liveId}}.htm" attr-weappurl="/pages/live-index/live-index?liveId={{liveId}}">
        {{/if}}
>>>>>>> cd34279970900fc13cfc41acbe72568f9ea58418
	</div>
</div>

</body>
<script type="text/javascript" src="/api/js-sdk/wx?actions=hide_all"></script>
<script>
<<<<<<< HEAD

=======
	var afterTime =3;
    var timerObj = document.getElementById('timer');
    var urlObj = document.getElementById('url');

	if(/(qlchat)/.test(window.location.href)){
		setInterval(function(){
			afterTime--;
			if(afterTime > 0 ){
				timerObj.textContent = afterTime;
			}else{
                if (typeof window != 'undefined' && window.__wxjs_environment === 'miniprogram') {
                    wx.miniProgram.navigateTo({ url: urlObj.getAttribute('attr-weappurl') });
                } else {
                    window.location.href = urlObj.value;
                }
			}

		},1000);
	}
>>>>>>> cd34279970900fc13cfc41acbe72568f9ea58418
</script>
</html>
