
.modify-password {
    padding: 30px 0;
    .page-wrap {
        width: 80%;
        margin: auto;
        padding: 20px 30px 40px 30px;
        h2{
            font-size: 40px;
            margin: 20px 0 0 35px;
        }
        h2:after{
            content: '';
            width: 100%;
            height: 30px;
            border-bottom: 1px solid #E9ECE3    ;
            display: block;
            margin: 0 auto; 
        }
    
        .edit-con {
            display: flex;
            align-items: center;
            padding-left: 40px;
            height: 80px;
            .before {
                width: 100px;
                color: #666;
            } 
            .input-edit {
                border: 1px solid #e6e6e6; /*no*/
                height: 40px;
                width: 400px;
                border-radius: 4px;
                line-height: 40px;
                padding: 0 10px;
            }
            
        }
        .saveChangePwd {
            display: inline-block;
            margin-left: 12%;
            margin-top:20px;
            font-size: 16px;
            padding: 10px;
            width: 100px;
            color: white;
            background-color: rgb(255, 158, 41);
            border-radius: 4px;
            margin-right: 30px;
            cursor: pointer;
            &:hover {
                box-shadow: 1px 2px 6px #a2a2a2;
            }
        }
    }
        
    }
