
    .topic-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        border-bottom: 1px solid #e6e6e6; /*no*/
        height: 120px;
 
        .head-img {
            height: 80px;
            width: 80px;
            border-radius: 100px;
            margin-right: 20px;
            flex-shrink: 0;
            cursor: pointer;
        }
        .name {
            margin-right: 1.266667rem;
            flex-shrink: 0;
        }
        .main {
            flex-grow: 1;
            max-width: 70%;
            cursor: pointer;
            .topic-title {
                color: #333;
                font-size: 20px;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                margin-bottom: 10px;
            }
            .topic-content {
                color: #666;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
        }
        .time {
            flex-shrink: 0;
            margin-left: 20px;
            min-width: 100px;
            text-align: center;
        }
    }