.team-admin-page {
    padding: 30px 0;


    .sp-nav {
        margin: 10px 0 30px 0;
        font-size: 20px;

        .to-team {
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
            color: rgb(42, 42, 50);
        }
    }

    .team-list {
        position: absolute;
        top: 70px;
        left: 30px;
        background-color: #fff;
        width: 400px;
        
        border-radius: 2px;
        border: 1px solid #e6e6e6; 
        border-radius: 4px;
        .search {
            border: 1px solid #e6e6e6; 
            border-radius: 4px;
            margin: 20px;
            width: 360px;
            height: 40px;
            line-height: 40px;
            font-size: 20px;
            padding: 0 20px;
        }
        .head {
            font-size: 20px;
            font-weight: bold;
            color: #333;
            padding: 10px 10px 10px 0;
            border-bottom: 1px solid #e6e6e6; /*no*/
            margin: 0 20px;
        }
        .admin-team-item {
            cursor: pointer;
            height: 100px;
            display: flex;
            align-items: center;
            padding: 0 20px;
    
            position: relative;
    
            &:hover {
                background-color: #e6e6e6;
            }
    
            .team-img {
                height: 60px;
                width: 106px;
                background-color: #e6e6e6;
                margin-right: 30px;
                flex-shrink: 0;
                flex-grow: 0;
            }
            .team-name {
                max-width: 200px;
            }
            .check {
                position: absolute;
                top: 40px;
                right: 20px;
            }
        }
    }

    .team-admin-con {
        padding: 20px 30px;

        .admin-title-bg {
            font-size: 30px;
            font-weight: bold;
            margin: 30px 0;
            &.flex {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .add {
                cursor: pointer;
                margin-right: 40px;
                font-size: 22px;
                font-weight: normal;
                color: #4ea5ad;
            }
        }
        .admin-title-sm {
            font-size: 24px;
            font-weight: bold;
            margin: 10px 0;
        }
        .input-warp {
            display: inline-block;
        }
        .admin-input {
            border: 1px solid #e6e6e6; 
            border-radius: 4px;
            margin: 20px 0;
            width: 360px;
            height: 40px;
            line-height: 40px;
            font-size: 20px;
            padding: 0 20px;
        }
        .img-preview {
            height: 90px;
            width: 160px;
            margin-left: 60px;
        }
        .admin-tra {
            resize: none;
            border: 1px solid #e6e6e6; 
            border-radius: 4px;
            margin: 20px 0;
            width: 720px;
            height: 150px;
            line-height: 40px;
            font-size: 20px;
            padding: 20px 20px;
        }

        .sava-btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 50px;
            border-radius: 8px;
            background-color: rgb(255, 158, 41);
            color: #fff;
            font-weight: bold;
            margin-bottom: 80px;
        }



        .member-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            height: 120px;
            border-top: 1px solid #e6e6e6; /*no*/
            .head-img {
                height: 80px;
                width: 80px;
                border-radius: 100px;
            }

            .admin {
                position: absolute;
                background-color: #e6e6e6;
                height: 120px;
                width: 170px;
                right: 0px;
                top: 90px;
                z-index: 2;
            }
        }
    }

    .add-member-dialog-bg {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(51, 51, 51, 0.173);
        z-index: 1;
    }
    .add-member-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        height: 600px;
        width: 800px;
        border: 1px solid #e6e6e6; /*no*/
        background-color: #fff;
        border-radius: 4px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        z-index: 2;

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .des {
            margin-bottom: 30px;
            font-size: 24px;
        }
        .invite-input {
            border: 1px solid #e6e6e6; /*no*/
            border-radius: 8px;
            font-size: 24px;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            width: 600px;
        }
    }

}