
        .auth-con {
            display:flex;
            flex-direction:column;
            align-items: center;
            width: 70%;
            margin-top:150px !important;
            margin:auto;
            height: 600px;
        }
        .title{
            margin:auto;
            font-size:50px;
        }
        .auth-nav {
            margin-top:20px !important;
            height: 50px;
            display: flex;
            flex-direction: row !important;
            align-items: flex-end !important;
            justify-content:space-between !important;
            padding:0px 0px;
            .auth-nav-item {
                margin-top:20px;
                margin-bottom: 0;
                border-radius: 0;
                font-weight: 400;
                width:230px;
                transition: background-color .3s;
                cursor: pointer;
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                color:black !important;
                background-color: #f0f0f0;
                &:hover {
                    background-color: rgb(237, 237, 237) !important;
                }
                &.active{
                    background: #fff;
                }
            }
            
        }
        
        .auth-form {
            padding: 30px;
            width:400px;
            background-color: #fff;
            height: 100%;
            display:flex;
            flex-direction: column;
            .auth-desc {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .auth-input {
                outline: 0; 
                // border: 1px solid #e9eaea;
                border-radius: 2px;
                height: 65px;
                width: 90%;

                padding: 0 20px;
                margin-bottom: 20px;
                border: 2px solid #e9eaea;
                box-shadow: 1px 1px 1px 1px #b2b2b2 inset;
                border-radius: 6px;

                font-size: 20px;

                &:focus {
                    border: 1px solid #a2a2a2;
                }
            }
            .submit-btn {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width: 90%;
                background-color: orange;

                font-size: 16px;
                font-weight: bold;
                color: #fff;
                border-radius: 6px;
                margin: auto;
                margin-top: 10px;

                &:hover {
                    box-shadow: 1px 2px 6px #a2a2a2;
                }
            }
            .wx-alarm{
                font-size: 20px;
                padding-top: 17px;
                padding-bottom: 5px;
            }
            .wx-btn{
                cursor: pointer;
                margin:auto;
            }
        }


      
