html, body {
    width: 100%;
    height: 100%;
    font-family: "微软雅黑",Tahoma, Helvetica, Arial, '\5b8b\4f53', sans-serif;
    margin: 0 auto !important;
    position: relative;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
    width: 100%;
    height: 100%;
}

.page-container {
    position: relative;
    display: block;
    max-width: 1280px; /*px*/
    min-width: 640px; /*px*/
    height: 100%;
    -webkit-overflow-scrolling: touch;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}