.modal-container {
    background-color: rgba(33, 33, 33, .4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    .modal-body {
        background-color: #fff;
        border-radius: 5px;
        padding: 30px;
        width: 400px;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate3d(-50%, -50%, 0);
        .modal-title {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }
        .modal-content {
            min-height: 100px;
        }
        .modal-footer {
            text-align: center;
            button {
                margin: 0 20px;
                padding: 8px 27px;
                font-size: 16px;
                border-radius: 2px;
                background-color: #ffd900;
                border: 0;
                outline: none;
                &:hover {
                    cursor: pointer;
                    background-color: #fff000;
                }
            }
        }
    }
}