.follow-service-dialog {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px 40px;
    border: 1px solid #e6e6e6; /*no*/
    background-color: #fff;

    .close {
        z-index: 10;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
    }
}