.follow-service-dialog {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px 40px;
    border: 1px solid #e6e6e6; /*no*/
    background-color: #fff;

    .close {
        z-index: 10;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
    }
    .content-box{
        align-items: center;
        width: 415px;
        padding-top: 14px;
        padding-bottom: 14px;

        .title{
            padding-top: 5px;
            padding-bottom: 30px; 
            text-align: center;
            font-weight: lighter;
            font-size: 170%;
        }

        .img-box{
            margin-left: 12px;
            margin-right: 12px;
            margin-bottom: 20px;

            border:1px solid rgb(234, 234, 234);
            text-align: center;

            .qr-img{
                width: 388px;
                // padding: 2px;
            }



            
        }
        .msg{
            text-align: center;
            font-size: 105%;
            margin: 10px;
        }
    }
}