.team-page {
    padding: 0.4rem 0;
    .carete {
        cursor: pointer;
        right: 60px;
        top: 80px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 22px;
        color: #666;
        font-weight: bold;
        &:hover{
            color:#444;
        }
    }
    .main{
        padding: 0.4rem 0.4rem;
    }
    .act {
        color: red;
    }

    .head {
        font-weight: bold;
        font-size: 20px;
        padding: 40px 0;
    }

    .team-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .team-item {
        height: 160px;
        width: 250px;
        // background-color: #eee;
        margin: 20px 20px;
        border-radius: 10px;

        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 40px 40px 20px 40px;
        &:hover{
            background-color: #eee;
        }
        .left {
            width:100%;
            cursor: pointer;
            .bg-img {
                height: 120px;
                width: 190px;
                background-color: #888;
            }
            .name {
                color: #999;
                font-size: 25px;
                margin-top: 10px;
                line-height: 1.3;
            }
        }
        .right {
            position: relative;
            right:2%;
            top:-20%;
            width:0;
            line-height: 1.4;

        }
    }
    .team-list-item {
        // height: 140px;
        margin-left: 20px;
        width: 100%;
        background-color: #fff;
        padding: 10px 10px;
        border-radius: 2px;
        border-top: 1px solid #999;
        display: inline-flex;
        justify-content: space-between;
        &:hover{
            background-color: #eee
        }
        .left {
            cursor: pointer;
            display: inline-flex;
            width:80%;
            .bg-img {
                height: 30px;
                width: 53px;
                display: inline-flex;
                background-color: #888;
            }
            .name {
                color: #999;
                font-size: 20px;
                line-height: 1.3;
                display: inline-flex;
                margin-left: 5px;
                padding-top: 3px;
            }
        }
        .right {
            display: inline-flex;
            line-height: 1.4;

        }
    }
}