.co-dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    &.hide {
        display: none;
    }

    .co-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        z-index: 1;
    }

    .co-dialog-main {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
        width: 70%;
        min-height: 200px;
        background-color: #ffffff;
        border-radius: 8px;

        .co-dialog-title {
            font-size: 34px;/* px */
            color: #333333;
            text-align: center;
            font-weight: bold;
            padding: 30px 0;
        }

        .co-dialog-content {
            flex: 1;
            display: block;
            padding-top: 40px;
            font-size: 28px;/* px */
            line-height: 1.6;
            color: #333333;
            padding: 30px;
            text-align: center;
        }
    }

    footer.co-dialog-footer {
        display: flex;
        height: 80px;
        line-height: 80px;
        text-align: center;
        border-top: 1px solid #f0f0f0;/* no */

        >span {
            flex: 1;
            font-size: 32px;/* px */
            font-weight: bold;
            cursor: pointer;

            &:nth-child(2) {
                border-left: 1px solid #f0f0f0;/* no */
            }
        }

        .co-confirm-button {
            color: #f73657;
        }

        .co-cancel-button {
            color: #666666;
        }
    }
}