.news-page {
    padding: 30px 0;
    .return{
        cursor: pointer;
        margin-left:0.25rem;
        margin-top: 40px;
        display: block;
        padding: 10px 0 10px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 95%;
        height:45px;
        font-size: 25px;
        color: #888888;
        background: #f9f9f9;
        border: 1px solid #e6e6e6;
        border-bottom: none;
        -webkit-border-radius: 0.026667rem;
        border-radius: 0.026667rem;
        .teamName{
            margin-left:20px;
        }
        &:hover{
            background-color: #fff;
        }
    }
    .title-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        height: 80px;
        display: flex;
        padding: 0 50px;

        .filter-title {
            cursor: default;
            margin-bottom: 30px;
            margin-left: 30px;
            font-weight: bold;
            font-size: 20px;
        }

        .team-filter {
            cursor: pointer;
            margin-bottom: 30px;
            margin-left: 30px;
            font-size: 18px;
        }
    }
    



    .team-list {
        position: absolute;
        z-index: 10;
        top: 60px;
        left: 30px;
        background-color: #fff;
        width: 400px;
        
        border-radius: 2px;
        border: 1px solid #e6e6e6; 
        border-radius: 4px;
        .search {
            border: 1px solid #e6e6e6; 
            border-radius: 4px;
            margin: 20px;
            width: 360px;
            height: 40px;
            line-height: 40px;
            font-size: 20px;
            padding: 0 20px;
        }
        .head {
            font-size: 20px;
            font-weight: bold;
            color: #333;
            padding: 10px 10px 10px 0;
            border-bottom: 1px solid #e6e6e6; /*no*/
            margin: 0 20px;
        }
        .admin-team-item {
            cursor: pointer;
            height: 100px;
            display: flex;
            align-items: center;
            padding: 0 20px;
    
            position: relative;
    
            &:hover {
                background-color: #e6e6e6;
            }
    
            .team-img {
                height: 60px;
                width: 106px;
                background-color: #e6e6e6;
                margin-right: 30px;
                flex-shrink: 0;
                flex-grow: 0;
            }
            .team-name {
                max-width: 200px;
            }
            .check {
                position: absolute;
                top: 40px;
                right: 20px;
            }
        }
    }




    
    .news-list {
        padding: 40px 50px;
    }

    .news-day {
        position: relative;
        padding: 0 20px 30px 88px;
    }

    .time-ball {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        height: 80px;
        width: 80px;
        border-radius: 100px;

        border: 4px solid #e6e6e6; /*no*/
    }

    .group-line {
        display: flex;
        align-items: center;
        padding: 36px 0 44px 10px;
        font-size: 24px;
        color: #999;
        &::before {
            content: "";
            display: block;
            height: 1px;
            flex-grow: 1;
            border-bottom: 1px solid #e6e6e6; /*no*/
            margin-right: 20px;
        }
    }

    .news-item-wrap {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;

        .news-con{
            cursor: pointer;
        }

        .time {
            flex-shrink: 0;
            flex-grow: 0;
            height: 80px;
            line-height: 80px;
            color: #999;
            margin-right: 20px;
        }
        .head-img {
            flex-shrink: 0;
            flex-grow: 0;
            height: 80px;
            width: 80px;
            border-radius: 100px;
            margin-right: 20px;
        }

        .des-line {
            font-size: 22px; 
            margin-bottom: 20px;
        }
        .name {
            font-weight: bold;
            margin-right: 20px;
        }
        .content {
            font-size: 20px;
            line-height: 1.3;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    }

    .load-more-bar{
        display: flex;
        align-items: center;

        .load-more {
            cursor: pointer;
            margin: auto;
            height: 40px;
            line-height: 40px;
            padding: 0 30px;
            border-radius: 6px;
            width: 200px;

            background-color: #e6e6e6;
            text-align: center;

            
        }
        .no-more-result-alert{
            cursor: default;
            margin: auto;
            height: 40px;
            line-height: 40px;
            padding: 0 30px;
            border-radius: 6px;
            width: 200px;
            text-align: center;
        }
    }

    .null-info{
        text-align: center;
        margin-bottom: 30px;
        margin-left: 30px;
        font-weight: bold;
        font-size: 20px;

    }
        
}