
.head-title {
    margin: 30px;
    color: #999;
    font-size: 32px;/* px */
}


.complaint-list{
    ul {
        li {
            padding: 30px;
            border-bottom: 1px solid #f0f0f0;/* no */
            background-color: #ffffff;
            font-size: 28px;/* px */
            cursor: pointer;
        }
    }
}

.success-page {
    font-size: 42px;/* px */
    color: #333333;
    padding: 60px 0;
    text-align: center;

    .back-btn {
        display: block;
        margin: 0 auto;
        margin-top: 120px;
        background-color: #f83657;
        font-size: 28px;/* px */
        font-weight: bold;
        padding: 20px;
        cursor: pointer;
        color: #ffffff;
        width: 60%;
        border-radius: 8px;
    }
}