.main-page {
    .max-w-con {
        max-width: 960px;
        margin: auto;
    }


    .nav {
        height: 64px;
        background-color: #e0e0e0;
        .nav-con {
            display: flex;
            height:44px;
            top:10px;
            position: relative;
            .logo{
                width:20%;
                left:10%;
                position: relative;
            }
            .slogan{
                font-size: 20px;
                width:26%;
                left:12%;
                position: relative;
                .chinese{
                    letter-spacing:3.6px;  
                }
            }
            .division{
                font-size: 20px;
                top: 10px;
                position: relative;
                left:25%;
            }
        }
    }

    .slogan-bg{
        display: none;
    }

    .banner {
        height:539px;
        width: 95%;
        h1 {
            color: #204056;
            font-size: 40px;
            margin: auto;
            text-align: center; 
            font-weight: 100;
        }
        .banner-con {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            position: relative;
        }
        .banner-img {
            height: 439px;
            width: 436px;

            display: flex;
            align-items: center;
            justify-content: center;

            background: #fff;
            position: absolute;
            top: 50px;
            left: 8%;
        }
        
        
    }
    .video  {
       width: 872px;
       margin: auto;

        background-color: #fff;

        display: flex;
        align-items: center;
        justify-content: center;
        .video-des {
            margin-top: -35px;
            margin-left: 10px;
            font-size: 25px;
            color: gray;
        }
        .video-template{
            width: 100%;
            height: 100%;
        }
    }
    .stories {
        padding: 80px 0 0 0;
        h1 {
            color: #204056;
            font-size: 40px;
            margin: auto;
            text-align: center; 
            font-weight: 100;
            margin-bottom: 60px;
        }
        .story-con {
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .story-item {
            background-color: #fff;
            height: 360px;
            width: 250px;
            margin-right: 60px;
            text-align: center;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            padding-bottom: 20px;
            .head-img {
                height: 130px;
                width: 130px;
                border-radius: 100px;
                margin: 30px auto 0;
                background-color: gray;
            }
            
            .item-wrap{
                margin-left:10%;
                text-align: left;
                .name {
                    font-size: 26px;
                    margin-top:30px;
                    margin-bottom: 20px;
                    color: #808080;
                }
                .title {
                    margin-top:10px;
                    font-size: 16px;
                    color: #808080;
                    
                }
                .desc {
                    margin-top:10px;
                    line-height: 16px;
                    font-size: 14px;
                    color: #808080;
                }
            }
            
        }
        .join-num {
            height: 83px;
            background-color: #e0e0e0;
            position: relative;
            margin-top: 50px;
            padding: 20px 0 20px;
            &::before{
                content: "";
                position: absolute;
                display: block;
                left: 0;
                right: 0;
                top: 0;
                margin: auto;
                width: 1024px;
                height: 1px;
                background-color: #838383;
            }
            text-align: center;
            line-height: 1.6;
            .p1 {
                font-size: 20px; 
            }
            .num {
                font-style: 30px;
                color: #204056;
            }
        }
    }
    .footer {
        background-color: #cccccc;
        padding: 30px 0 ;
        .footer-list {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            
        }
        line-height: 1.6;
        .foot-item {
            padding: 30px;
            font-size: 15px;
        }
        .foot-item-title {
            font-size: 15px;
            font-weight: bold;
        }
    }
}

@media only screen and (max-width: 480px) {
    .main-page {
        background-color: #fff;
        .nav {
            height: 64px;
            background-color: #e0e0e0;
            .nav-con {
                display: flex;
                height:44px;
                top:10px;
                position: relative;
                .logo{
                    width:25%;
                    left:3%;
                    position: relative;
                }
                .slogan{
                    font-size: 21px;
                    width:34%;
                    left:6%;
                    line-height: 22px;
                    position: relative;
                    .chinese{
                        letter-spacing:3.6px;  
                    }
                }
                .division{
                    display: none;
                }
            }
        }
        .slogan-bg{
            margin-top:30px;
            width:100%;
            position: relative;
            text-align: center;
            font-size: 60px;
            font-weight: bold;
            transform:scaleY(0.9);
            color:#155551;
            display: block;
            letter-spacing:3px;
        }

        .banner {
            width: 100%;
            height:600px;
            h1 {
                color: #204056;
                font-size: 40px;
                margin: auto;
                text-align: center; 
                font-weight: 100;
            }
            .banner-con {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                position: relative;
            }
            .banner-img {
                // height: 439px;
                // width: 436px;

                // display: flex;
                // align-items: center;
                // justify-content: center;

                // background: #fff;
                // position: absolute;
                // top: 50px;
                // left: 8%;
                display: none;
            }
            
            
        }
    }
}


