
        .auth-con {
            width: 410px;
            height:323px;
            right:15%;
            position: relative;
            margin-top:50px;
        }
        .auth-nav {
            height: 50px;
            padding: 0 10px ;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            .auth-nav-item-login {
                // border-top-left-radius: 10px;
                // transition: background-color .3s;
                background-color: #f2f2f2;
                // cursor: pointer;
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: left;
                height: 38px;
                transform:scaleY(0.9);
                font-size:41px;
                
                &:hover {
                    background-color: #f2f2f2;
                }
                &.active{
                    background-color: #f2f2f2;
                }
            }
            .auth-nav-item-signup {
                border-top-right-radius: 5px;
                border-radius: 5px;
                transform:scaleY(0.9);
                border:1px solid #ACACAC;
                // transition: background-color .3s;
                background-color: #f2f2f2;
                cursor: pointer;
                flex-grow: 1;
                display: flex;
                align-items: center;
                margin-left: 40%;
                width:20%;
                color:#808080;
                justify-content: center;
                height: 54px;
                font-size:31px;
                &:hover {
                    background-color: rgb(237, 237, 237);
                }
                &.active{
                    background: #f2f2f2;
                    font-size:32px;
                }
            }
        }
        .login-view-form {
            padding: 10px;
            background-color: #f2f2f2;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            
            .auth-desc {
                font-size: 27px;
                font-weight: normal;
                margin-bottom: 12px;
                transform:scaleY(0.9);
            }

            .forgetPwd{
                color: #000;
                cursor: pointer;
                font-size: 20px;
                text-align:right;
                margin-top:15px;
                margin-bottom: 27px;
                width:400px;
                transform:scaleY(0.9);
            }

            .auth-smallinput {
                width: 50%;
                margin-right: 10px;
                outline: 0;
                border: 1px solid #e9eaea;
                border-radius: 2px;
                height: 50px;
                padding: 0 20px;
                margin-bottom: 20px;
            }

            .codeBtn {
                width: 130px;
                background-color: #ffb43d;
                border-color: #ffb43d;
                color: #fff;
                height: 50px;
                padding: 6px 0;
                cursor: pointer;
                font-weight: bold; 
            }
            
            .countSecond {
                width: 130px;
                background-color: gray;
                border-color: gray;
                color: #fff;
                height: 50px;
                padding: 6px 0;
                font-weight: bold; 
            }

            .auth-input {
                outline: 0; 
                border: 2px solid #545454;
                border-radius: 5px;
                height: 52px;
                width: 400px;
                background-color: #f2f2f2;
                padding: 0 20px;
                margin-bottom: 10px;

            }
            // .auth-input {
            //     outline: 0; 
            //     border: 1px solid #acacac;
            //     border-radius: 5px;
            //     height: 60px;
            //     width: 100%;
            //     font-size: 25px;
            //     padding: 0 20px;
            //     margin-bottom: 20px;
    
            //     &:focus {
            //         border: 1px solid #a2a2a2;
            //     }
            // }
            .submit-btn {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 88px;
                width: 390px;
                background-color: #ffb43d;
                margin-top:10px;
                font-size: 31px;
                font-weight: normal;
                color: #fff;
                border-radius: 50px;

                &:hover {
                    box-shadow: 1px 2px 6px #a2a2a2;
                }
            }
            .wx-submit-btn {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 88px;
                width: 390px;
                background-color: transparent;
                margin-top:30px;
                font-size: 31px;
                font-weight: normal;
                color: #808080;
                border-radius: 25px;
                &:hover {
                    box-shadow: 1px 2px 6px #a2a2a2;
                }
                .wx-submit-img{
                    height:56px;
                    width:56px;
                    margin-right:10px;
                }

            }
            .menuArrow{
                position: absolute;
                top: -8px;
                left:480px;
                overflow: hidden;
                width: 13px;
                height: 13px;
                z-index: -100;
                background-color: #fffbed;
                border-left: 1px solid #f9efd3;
                border-top: 1px solid #f9efd3;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            .help-block{
                width: 500px;
                position: absolute;
                background-color: #fffbed;
                border: 1px solid #f9efd3;
                z-index: 100;
                border-radius: 10px;
                right:-20px;
                padding: 10px;
                .help-title{
                    color: #646565;
                    font-size: 18px;
                    line-height: 14px;
                    font-weight: 700;
                    display: inline;
                }
                .help-close{
                    display: inline;
                    position: absolute;
                    right:4px;
                    top:4px;
                    cursor: pointer;
                }
                .help-text{
                    margin-top:5px;
                    font-size:16px;
                    .help-row{
                        line-height:120%;
                    }
                }
            }
        }
    
@media (max-width: 480px) {
    .auth-con {
        width: 90%;
        height:323px;
        right:5%;
        position: relative;
        margin-top:40px;
        .auth-nav {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            padding: 0;
            .auth-nav-item-login {
                // border-top-left-radius: 10px;
                // transition: background-color .3s;
                background-color: #fff;
                // cursor: pointer;
                // flex-grow: 1;
                // display: flex;
                // align-items: center;
                justify-content: left;
                height: 50px;
                font-size:42px;
                
                &:hover {
                    background-color: #fff;
                }
                &.active{
                    background-color: #fff;
                }
            }
            .auth-nav-item-signup {
                border-top-right-radius: 5px;
                border-radius: 5px;
                border:1px solid #ACACAC;
                // transition: background-color .3s;
                background-color: #fff;
                // cursor: pointer;
                // flex-grow: 1;
                // display: flex;
                // align-items: center;
                margin-left: 70%;
                width:15%;
                color:#808080;
                justify-content: center;
                height: 50px;
                font-size:32px;
                &:hover {
                    background-color: rgb(237, 237, 237);
                }
                &.active{
                    background: #fff;
                    font-size:32px;
                }
            }
        }
        .login-view-form {
            padding: 30px 0;
            width:100%;
            background-color: #fff;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            
            .auth-desc {
                font-size: 30px;
                font-weight: normal;
                margin-bottom: 12px;
                color: #4D4D4D;
            }
    
            .forgetPwd{
                color: gray;
                cursor: pointer;
                font-size: 25px;
                text-align:right;
                width:100%;
                display: block;
            }
    
            .auth-smallinput {
                width: 50%;
                margin-right: 10px;
                outline: 0;
                border: 1px solid #e9eaea;
                border-radius: 2px;
                height: 50px;
                padding: 0 20px;
                margin-bottom: 20px;
            }
    
            .codeBtn {
                width: 130px;
                background-color: #ffb43d;
                border-color: #ffb43d;
                color: #fff;
                height: 50px;
                padding: 6px 0;
                cursor: pointer;
                font-weight: bold; 
            }
            
            .countSecond {
                width: 130px;
                background-color: gray;
                border-color: gray;
                color: #fff;
                height: 50px;
                padding: 6px 0;
                font-weight: bold; 
            }
    
            .auth-input {
                outline: 0; 
                border: 1px solid #acacac;
                border-radius: 5px;
                height: 60px;
                width: 100%;
                font-size: 25px;
                padding: 0 20px;
                margin-bottom: 20px;
    
                &:focus {
                    border: 1px solid #a2a2a2;
                }
            }
            .submit-btn {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 58px;
                width: 100%;
                background-color: #ffb43d;
                margin-top:10px;
                font-size: 34px;
                font-weight: normal;
                color: #fff;
                border-radius: 5px;
    
                &:hover {
                    box-shadow: 1px 2px 6px #a2a2a2;
                }
            }
            .wx-submit-btn {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 58px;
                width: 100%;
                background-color: transparent;
                margin-top:10px;
                font-size: 34px;
                font-weight: normal;
                color: #808080;
                border-radius: 5px;
                &:hover {
                    box-shadow: 1px 2px 6px #a2a2a2;
                }
                .wx-submit-img{
                    height:50px;
                    width:50px;
                    margin-right:10px;
                }
    
            }
            .menuArrow{
                position: absolute;
                top: -8px;
                left:480px;
                overflow: hidden;
                width: 13px;
                height: 13px;
                z-index: -100;
                background-color: #fffbed;
                border-left: 1px solid #f9efd3;
                border-top: 1px solid #f9efd3;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            .help-block{
                width: 500px;
                position: absolute;
                background-color: #fffbed;
                border: 1px solid #f9efd3;
                z-index: 100;
                border-radius: 10px;
                right:-20px;
                padding: 10px;
                .help-title{
                    color: #646565;
                    font-size: 18px;
                    line-height: 14px;
                    font-weight: 700;
                    display: inline;
                }
                .help-close{
                    display: inline;
                    position: absolute;
                    right:4px;
                    top:4px;
                    cursor: pointer;
                }
                .help-text{
                    margin-top:5px;
                    font-size:16px;
                    .help-row{
                        line-height:120%;
                    }
                }
            }
        }
    }



}


