
        .auth-con {
            width: 350px;
        }
        .auth-nav {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            padding-top: 100px;
            .auth-nav-item {
                transition: background-color .3s;
                cursor: pointer;
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                &:hover {
                    background-color: rgb(237, 237, 237);
                }
                &.active{
                    background: #fff;
                }
            }
        }
        .login-view-form {
            padding: 30px;
            background-color: #fff;

            .sms-block 
            {
                .input-code {
                    margin-right: 10px;
                    outline: 0;
                    border: 1px solid #e9eaea;
                    border-radius: 2px;
                    height: 50px;
                    width: 140px;
                    padding: 0 20px;
                    margin-top:10px;
                    margin-bottom: 10px;
                }
                .active-btn {
                    margin-top:10px;
                    margin-left:10px;
                    display:flex;
                    flex-wrap:wrap;
                    //align-items: center;
                    cursor: pointer;
                    text-align: center;
                    width: 130px;
                    background-color: orange;
                    border-color: orange;
                    color: #fff;
                    height: 50px;
                    font-weight: bold;  
                
                    justify-content: center;
                
                }

              
         
            }
            .auth-desc {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .forgetPwd{
                color: gray;
                cursor: pointer;
                margin-bottom: 20px;
            }

            .auth-smallinput {
                width: 50%;
                margin-right: 10px;
                outline: 0;
                border: 1px solid #e9eaea;
                border-radius: 2px;
                height: 50px;
                padding: 0 20px;
                margin-bottom: 20px;
            }

            .codeBtn {
                width: 130px;
                background-color: orange;
                border-color: orange;
                color: #fff;
                height: 50px;
                padding: 6px 0;
                cursor: pointer;
                font-weight: bold; 
            }
            
            .countSecond {
                width: 130px;
                background-color: gray;
                border-color: gray;
                color: #fff;
                height: 50px;
                padding: 6px 0;
                font-weight: bold; 
            }

            .auth-input {
                outline: 0; 
                border: 1px solid #e9eaea;
                border-radius: 2px;
                height: 50px;
                width: 290px;

                padding: 0 20px;
                margin-bottom: 20px;

                &:focus {
                    border: 1px solid #a2a2a2;
                }
            }
            .submit-btn {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width: 290px;
                background-color: #ff9900d4;

                font-size: 16px;
                font-weight: bold;
                color: #fff;
                border-radius: 2px;

                &:hover {
                    box-shadow: 1px 2px 6px #a2a2a2;
                }
            }
        }
    



