.topic-page {
    padding: 30px 0;

    .sp-nav {
        margin: 10px 0 30px 0;
        font-size: 20px;

        .to-team {
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
            color: rgb(42, 42, 50);
        }
        .pre-tag{
            cursor: pointer;
        }
    }
    

    .topic-con {
        box-sizing: border-box;
        width: 1280px;
        background-color: #fff;
        border: 1px solid #e6e6e6; /*no*/
        border-radius: 2px;
        padding: 20px 30px 40px 30px;


        .div-line {
            width: 98%;
            height: 1px;
            border-bottom: 1px solid #e6e6e6; /*no*/
            margin: 30px auto 30px auto;
        }

    }
}

.file-list {
    margin: 10px 100px 0px;
    padding: 14px;
    .file-pic-item {
        display: inline-block;
        margin-right:40px;
        margin-top:20px;
        color: #6a6f7b;
        text-align: center;
        .file-pic{
            width:140px;
            text-align: center;
        }
        .file-name{
            text-align: center;
            margin-top: 20px;
        }
    }
    .file-item {
        margin-top:20px;
        color: #6a6f7b;
    }
}