.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 80px;

    padding: 0 50px;

    position: relative;
    .search-bar{
        // float: left;
        align-items: center;
        display: flex;
        &:hover{
            color: #44acb6;
            cursor: pointer;
        }


        .searchBox{
            float: left;
            display: flex;
            align-items: center;
        }
        
        .searchInput:focus {
            text-align: left;
            width: 256px;
            border: 1px solid #ccc;
            border-radius: 5%;
            padding: 5px 8px;
            color: #333;
            transition: width 0.4s ease-in-out;
            margin-left: 5px;
        }
        .searchInput{
            // text-align: center;
            width: 50px;
            border: 0px solid #ccc;
            padding: 5px 8px;
            color: #333;
            transition: width 0.4s ease-in-out;
            margin-left: 5px;
        }
    }

    .logo {
        margin-right: 100px;
    }
    .left {
        display: flex;
        align-items: center;
    }
    .nav-list{
        color: #999;
    }
    .person{
        float: right;
        display: flex;
        align-items: center;
        
        .remind{
            cursor: pointer;
        }
        
        
    }
    .nav-item{
        margin: 10px;
        font-size: 24px;
        cursor: pointer;
        &:visited {
            color: #999;
        }
        &:hover{
            color:#44acb6;
        }
        &.active {
            color: #333;
            font-weight: bold;
        }
    }
    .remind{
        &:hover{
            color:#44acb6;
        }
    }
    .head-img {       
        border-radius: 100px;
        height: 60px;
        width: 60px;
        //background-color: #763;
        &:hover{
            box-shadow: 0px 6px 10px #ccc;
        }
    }

    // 菜单的小箭头
    .menuArrow{
        position: absolute;
        top: -8px;
        right: 30px;
        overflow: hidden;
        width: 13px;
        height: 13px;
        background: whitesmoke;
        border-left: 1px solid whitesmoke;
        border-top: 1px solid whitesmoke;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .menu{
        background:whitesmoke;
        width: 250px;
        position: absolute;
        top: 70px;
        right: 100px;
        z-index: 100;
        border-radius: 10px;

        .menuHeader{
            font-size: 20px;
            padding: 15px 20px;
            margin:auto;
        }
        .menuSet{
            border-top: 1px solid #E3E3E3;
            font-size: 25px;
            padding:15px 20px;
            cursor: pointer;
        }
        .menuCreate{
            border-top: 1px solid #E3E3E3;
            font-size:25px;
            padding:15px 20px;
            cursor: pointer; 
        }
        .menuQuit{
            border-top: 1px solid #E3E3E3;
            margin: 0 auto;
            font-size: 25px;
            padding: 15px 20px;
            cursor: pointer;
            border-radius: 0 0 10px 10px;
            
        }
    }
    
}
