.sms-block{
    width:400px;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    .input-code{
        border: 1px solid #e6e6e6; /*no*/
        height: 45px;
        width: 200px;
        margin-top:20px;
        border-radius: 6px;
        line-height: 50px;
        padding:0 10px;  
       
    }
    .captcha{
        margin-bottom: 20px;
    }
    .active-btn{
        margin-top:13px;
        margin-left:10px;
        display:flex;
        flex-wrap:wrap;
        //align-items: center;
        cursor: pointer;
        text-align: center;
        width: 130px;
        background-color: orange;
        border-color: orange;
        color: #fff;
        height: 50px;
        line-height: 50px; 
        border-radius: 10px;
        justify-content: center;
    }
    .active-btn{
        color:white;
        cursor: pointer;
    }
    .change-icon{
        color:#666;
        cursor: pointer;
    }
    
    .inactive-btn{
        margin-top:13px;
        margin-left:10px;
        display:flex;
        flex-wrap:wrap;
        //align-items: center;
        cursor: pointer;
        text-align: center;
        width: 130px;
        background-color: lightgray;
        border-color: lightgray;
        color: #fff;
        height: 50px;
        line-height: 50px; 
        border-radius: 10px;
        justify-content: center;
    }

}
